# Composer
composer.lock
composer.phar
/vendor
/bin

# PHP CS Fixer
php-cs-fixer.phar

# PHPUnit
phpunit.xml

# PHPUnit coverage-html output folder
/build

# Humbug
humbug.json
humbuglog.txt

# Node
/node_modules
